<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--libreria de iconos-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{% static './css/barra_lateral.css' %}"/>
    <link rel="stylesheet" href="{% static './css/theme-taiga.css' %}" />
    

</head>
<body>
    <!--contenedor general-->
    <div class="contenedor-principal" >
        <!--contenedor barra lateral-->
        <div class="menu-dashboard">
            <div class="top-menu">
                <div class="logo">
                    <i class='bx bx-line-chart'></i>
                    <span>HERRAMIENTA GESTION DE PROYECTOS</span>
                </div>
            </div>

                <hr class="linea1">

            <div class="menu">

                <a  class="enlace" href="">
                    <i class='bx bx-carousel'></i>
                    <span>Kanba</span>
                </a>

                <a  class="enlace" href="">
                    <i class='bx bx-sitemap'></i>
                    <span>Diagrama</span>
                </a>

                <a  class="enlace" href="">
                    <i class='bx bxs-bar-chart-alt-2'></i>
                    <span>Costos</span>
                </a>

                <a  class="enlace" href="">
                    <i class='bx bxl-slack'></i>
                    <span>Matriz</span>
                </a>

                <a  class="enlace" href="">
                    <i class='bx bxs-book-open'></i>
                    <span>Agenda</span>
                </a>

                <a  class="enlace" href="">
                    <i class='bx bx-file-blank'></i>
                    <span>Documentos</span>
                </a>

                <a  class="enlace" href="">
                    <i class='bx bx-user'></i>
                    <span>Equipo</span>
                </a>
                
            </div>
            <hr class="linea2">
            <span class="boton-desplegable">
                <div class="toggle">
                    <i class='bx bx-chevrons-left rotated'></i>
                </div>
            </span>
        </div>

        <!--contenedor header-->
        <div class="menu-user">
            <div tg-navigation-bar="" ng-if="!errorHandling.showingError">
                <nav ng-if="vm.isEnabledHeader" class="navbar">
                    <div class="nav-left">
                        <div tg-dropdown-project-list="tg-dropdown-project-list" class="topnav-dropdown-wrapper">
                            <div class="dropdown-project-list">
                                <a href="" title="Proyectos" tg-nav="projects" class="dropdown-project-list-projects">
                                    Tus Proyectos
                                </a>
                                <div class="navbar-dropdown">
                                    <div>
                                        <h2>Crea tu primer proyecto</h2>
                                        <p class="dropdown-project-list-desc">Aún no tienes ningún proyecto. Crea uno ahora,
                                            invita a tu equipo y comienza a usar Colvapro al máximo.</p>
                                        <div class="create-options">
                                            <a href="{% url 'crearprojecto' %}" title="Nuevo proyecto"
                                                class="create-project-btn button-primary"><span>Nuevo proyecto</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tg-dropdown-user="tg-dropdown-user">
                        <div class="dropdown-user-inner">
                            <div class="dropdown-user-navbar"><a tg-nav="profile" title="mike" class="user-avatar"
                                    href="http://localhost:9000/profile"><img tg-avatar="vm.user" alt="mike"
                                        src="{% static './media/user-avatar-05.png' %}" title="mike"
                                        style="background: rgb(183, 203, 131);"></a>
                                <button class="chevron">
                                    <tg-svg svg-icon="icon-chevron-down">
                                    </tg-svg>
                                </button>
                            </div>
                            <div class="navbar-dropdown dropdown-user">
                                <div class="dropdown-user-profile"><a tg-nav="profile" href="#" class="profile-link avatar">
                                        <img tg-avatar="vm.user" alt="mike" src="{% static './media/user-avatar-05.png' %} "
                                            title="mike" style="background: rgb(183, 203, 131);"></a>
                                    <div class="dropdown-user-data"><a tg-nav="profile" href="#"
                                            class="profile-link full-name">{{ first_name}} </a>
                                        <div class="profile-link email">{{ email }}</div>
                                        <p><a href="#" title="Editar perfil" class="edit-profile">Editar perfil</a></p>
                                    </div>
                                </div>
                                <ul>
                                    <li class="user-profile-option">
                                        <a href="#" title="Configuración de la cuenta" class="secondary">Configuración de la
                                            cuenta</a>
                                    </li>
                                    <li class="user-profile-option">
                                        <a href="#" title="Cerrar sesión"> Cerrar sesión</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!--contendor principal-->
        <div class="contdatos">
            <div>
                kanba 
                
            </div>
        </div>
    </div> 
    
    
    <script src="{% static './js/barra_lateral.js' %}" defer></script>



</body>
</html>