<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="fragment" content="!">
    <title>Create Project</title>
    <meta name="description" content="">
    <meta name="keywords" content="agile, scrum, taiga, management, project, developer, designer, user experience">
    <link rel="stylesheet" href="{% static './css/theme-taiga.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-HA8aIQXlN7sUkuqzGZK8r+4LntXBzPwONCzqOUiD54/1xbS49rI/12py9U3WlRj9WcmWlvqzB8lyqbqE2tzBxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="icon" type="image/png" href="http://localhost:9000/v-1708598134890/images/favicon.png">
</head>
<body >
    <div tg-navigation-bar="" ng-if="!errorHandling.showingError">
        <nav ng-if="vm.isEnabledHeader" class="navbar">
            <div class="nav-left">
                <div ng-if="vm.isAuthenticated" tg-dropdown-project-list="tg-dropdown-project-list" active="vm.active == 'projects' || vm.active == 'project'" class="topnav-dropdown-wrapper">
                    <div ng-class="{'active': active}" class="dropdown-project-list">
                        <a href="http://localhost:9000/projects" title="Proyectos" tg-nav="projects" class="dropdown-project-list-projects">Tus Proyectos</a>
                        <div class="navbar-dropdown">
                            <div ng-if="!vm.projects.size">
                                <h2>Crea tu primer proyecto</h2>
                                <p class="dropdown-project-list-desc">Aún no tienes ningún proyecto. Crea uno ahora, invita a tu equipo y comienza a usar Colvapro al máximo.</p>
                                <div class="create-options">
                                    <a href="#" tg-nav="create-project" title="Nuevo proyecto" class="create-project-btn button-primary"><span>Nuevo proyecto</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div tg-dropdown-user="tg-dropdown-user">
                <div class="dropdown-user-inner">
                    <div class="dropdown-user-navbar">
                        <a tg-nav="profile" title="mike" class="user-avatar" href="http://localhost:9000/profile">
                            <img tg-avatar="vm.user" alt="mike" src="Home%20-%20Colvapro_files/user-avatar-05.png" title="mike" style="background: rgb(183, 203, 131);">
                        </a>
                        <button class="chevron">
                            <tg-svg svg-icon="icon-chevron-down"></tg-svg>
                        </button>
                    </div>
                    <div class="navbar-dropdown dropdown-user">
                        <div class="dropdown-user-profile">
                            <a tg-nav="profile" href="#" class="profile-link avatar">
                                <img tg-avatar="vm.user" alt="mike" src="Home%20-%20Colvapro_files/user-avatar-05.png" title="mike" style="background: rgb(183, 203, 131);">
                            </a>
                            <div class="dropdown-user-data">
                                <a tg-nav="profile" href="#" class="profile-link full-name">mike</a>
                                <div class="profile-link email">manuel.david.13.b@gmail.com</div>
                                <p>
                                    <a href="#" tg-nav="user-settings-user-profile" title="Editar perfil" translate="PROJECT.NAVIGATION.EDIT_PROFILE" class="edit-profile">Editar perfil</a>
                                </p>
                            </div>
                        </div>
                        <ul>
                            <li class="user-profile-option">
                                <a href="#" tg-nav="user-settings-user-change-password" title="Configuración de la cuenta" translate="PROJECT.NAVIGATION.ACCOUNT_SETTINGS" class="secondary">Configuración de la cuenta</a>
                            </li>
                            <li class="user-profile-option">
                                <a href="#" tg-nav="user-settings-mail-notifications" title="Editar tus configuraciones de notificación" translate="PROJECT.NAVIGATION.NOTIFICATIONS" class="secondary">Notificaciones</a>
                            </li>
                            <li class="user-profile-option">
                                <a href="#" ng-click="vm.logout()" title="Cerrar sesión" translate="COMMON.LOGOUT">Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div ng-if="!errorHandling.showingError">
        <div  class="master" >
            <tg-create-project-form type="kanban">
                <div class="create-project">
                    <div ng-if="vm.type == 'kanban'" class="create-project-title-wrapper">
                        <tg-svg svg-icon="icon-kanban">
                            <svg class="icon icon-kanban" >
                                <use xlink:href="#icon-kanban" href="#icon-kanban"></use>
                            </svg>
                        </tg-svg>
                        <h1 translate="PROJECT.CREATE.TEMPLATE_KANBAN" class="create-project-title">Proyecto</h1>
                    </div>
                    <h3   class="create-project-description">Administra tus proyectos de forma ágil y eficiente con nuestro gestor de proyectos personalizado. Mantén un flujo constante en tus tareas independientes y optimiza la colaboración en equipo</h3>
                    
                    
                    <form name="projectForm" ng-submit="vm.submit()" novalidate="novalidate" class="ng-pristine ng-invalid ng-invalid-required">
                        {% csrf_token %}
                        <fieldset>
                            <label for="project-name">Nombre del Proyecto</label>
                            <input value="{{project.name}}" type="text" id="project-name" name="project-name" placeholder="Nombre del Proyecto (Requerido)" required>
                        </fieldset>
                        <fieldset>
                            <label  for="project-description">Descripción del Proyecto</label>
                            <textarea  value="{{project.description}}"  id="project-description" name="project-description" placeholder="Descripción del Proyecto (Requerido)" required></textarea>
                        </fieldset>
                        <fieldset>
                            <label for="project-creation-date">Fecha de Creación</label>
                            <input type="date" id="project-creation-date" name="project-creation-date">
                        </fieldset>
                        <fieldset>
                            <label for="project-start-date-planned">Fecha de Inicio Planeada</label>
                            <input type="date" id="project-start-date-planned" name="project-start-date-planned">
                        </fieldset> 
                        <fieldset>
                            <label for="project-start-date-real">Fecha de Inicio Real</label>
                            <input type="date" id="project-start-date-real" name="project-start-date-real">
                        <!-- </fieldset> -->
                        <fieldset>
                            <label for="project-end-date-planned">Fecha de Finalización Planeada</label>
                            <input type="date" id="project-end-date-planned" name="project-end-date-planned">
                        </fieldset> 
                        <!-- <fieldset>
                            <label for="project-end-date-real">Fecha de Finalización Real</label>
                            <input type="date" id="project-end-date-real" name="project-end-date-real">
                        </fieldset> -->
                        <fieldset>
                            <label  for="project-scope">Alcance</label>
                            <textarea id="project-scope" name="project-scope"></textarea>
                        </fieldset>
                        <fieldset>
                            <label for="project-status">Estado</label>
                            <select id="project-status" name="project-status">
                                <option value="abierto">Abierto</option>
                                <option value="suspendido">Suspendido</option>
                                <option value="cerrado">Cerrado</option>
                            </select>
                        </fieldset>
                        <!-- <fieldset>
                            <label for="project-completion-percentage">Porcentaje Completado</label>
                            <input type="number" id="project-completion-percentage" name="project-completion-percentage" min="0" max="100">
                        </fieldset> -->

                        <fieldset>
                            <label for="project-type">Tipo</label>
                            <select id="project-type" name="project-type">
                                <option value="abierto">Proyectos Integración</option>
                                <option value="suspendido">Necesidades entrega operación</option>
                                <option value="desarollo">Proyectos Producto Propio</option>
                                <option value="cerrado">Cerrado</option>
                            </select>
                        </fieldset>

                        <fieldset>
                            <label for="project-leader">Líder</label>
                            <input value="{{ project.usuario.first_name }} {{ project.usuario.last_name }}" type="text" id="project-leader" name="project-leader">
                        </fieldset>

                        <fieldset>
                            <label for="project-group">Grupo</label>
                            <select id="project-group" name="project-group">
                                <option value="grupo1">Grupo 1</option>
                                <option value="grupo2">Grupo 2</option>
                                <option value="grupo3">Grupo 3</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <label for="project-category">Categoría</label>
                            <select id="project-category" name="project-category">
                                <option value="I">Tipo I</option>
                                <option value="II">Tipo II</option>
                                <option value="III">Tipo III</option>
                                <option value="IV">Tipo IV</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <label  for="project-background">Antecedentes</label>
                            <textarea id="project-background" name="project-background"></textarea>
                        </fieldset>
                        <fieldset>
                            <label for="project-phase">Fase</label>
                            <select id="project-phase" name="project-phase">
                                <option value="inicio">Inicio</option>
                                <option value="planeacion">Planeación</option>
                                <option value="ejecucion">Ejecución</option>
                                <option value="monitoreo_control">Monitoreo y Control</option>
                                <option value="cierre">Cierre</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <label for="project-comments">Comentarios</label>
                            <textarea id="project-comments" name="project-comments"></textarea>
                        </fieldset>

                        <div ng-include="'projects/create/import-project-form-common/actions.html'">
                            <div class="create-project-action">
                                <button variant="secondary" type="button" title="Volver"  class="btn-small create-project-action-cancel">Volver</button>
                                <button type="submit" class="btn-small create-project-action-submit" title="Cargar" >Crear Proyecto</button>
                            </div>
                        </div>
                    </form>
                    
                    
                    
                </div>
            </tg-create-project-form>
        </div>
    </div>


</body>
</html>
